body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

th {
  text-align: left;
}

th, td {
  padding: 4px;
}

ul {
  padding: 0;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.category-active {
  background-color: rgb(32, 174, 218);
}

